body {
	background-color: #666;
}

#wrapper {
	width: 800px; 
	margin: 0 auto;
}

#header {
	padding: 10px;
	font-family: Helvetica, Arial;
	font-size: 32px;
	line-height: 150%;
}

#main {
	min-height: 500px;
}

#chatdiv {
	float: left;
}

#stuff {
	float: left;
}

#queuediv {
	float: right;
}

.clear {
	clear: both;
}

#chatdiv input {
	border:0;
	font-size: 26px;
	color: #ccc;
	background-color: #666;
	margin: 15px;
	width: 80%;
	padding: 10px;
	box-shadow: #333 3px 3px 15px;
	
}

#footer {
	margin: 0 auto;
	text-align: center;
}


.chat { 
	color: #ccc;
	text-shadow: 0px 1px 1px #333;
	width: 200px;
	height: 200px;
	box-shadow: #333 3px 3px 15px;
	margin: 15px;
	padding: 15px;
	font-family: Helvetica, Arial;
	font-weight: bold;
	font-size: 15px;
	float: left;
	overflow-y: auto;
}

.textline {
	padding: 4px 0;
	border-bottom: 1px dotted #444;
}

div.jp-audio, div.jp-video {
  font-size:1.25em;
}
